<section class="">
    <div class="container mx-auto px-6 py-5 border-b-2 flex justify-between items-center">
        <p class="font-semibold">
            <span class="mr-2 text-xl">Home </span> / <span class="ml-2 text-[#45A1E0]">Dashboard</span>
        </p>
        <div class="flex items-center gap-5">
            <div class="relative flex items-center">
                <input class="border-gray-300 px-2 py-1 rounded-lg border" type="search" name="" id="" placeholder="Search . . ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </div>
            
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                </svg>

            </button>
            

            <button class="hover:cursor-pointer flex items-center gap-4">
                <img class="rounded-full w-10 h-10 overflow-hidden" src="../../../assets/images/displayPicture.jpg" alt="displayPicture">
            <div> <span class="font-semibold">Hi</span>, Prabhu Saravanan</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-600 w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </button>
            
              
              
        </div>
        
        
    </div>
</section>
