<section>
    
        <div class="flex">
            <div class="w-2/3">
                <div>
                    <div class="bg-cover bg-center max-h-screen shadow-xl" style="background-image: url('../../../assets/images/BackgroundPic.jpg');">
                        <img class="max-h-screen" src="../../../assets/images/loginPageImage.png" alt="loginPageImage">
                    </div>
                    
                </div>
                
            </div>
            <div class="w-1/3">
                <div class="flex items-center justify-center h-full">
                    <form>
                        <img class="w-28 h-28" src="../../../assets/images/companyLogo.svg" alt="companyLogo">

                        <div class="relative z-0 w-64 mb-5">
                            <input type="text" name="username" id="username" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required/>
                            <label for="username" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                        </div>
                        <div class="relative z-0 w-64 mb-5">
                            <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required/>
                            <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                        </div>
                        <button class="border p-1 rounded-lg bg-[#45A1E0] text-white px-10 mt-4 py-2" (click)="navigateToDashboard()">Login</button>
                    </form>
                </div>
                
            </div>
        </div> 
</section>